include templates/all

+mustart-start
  h1 Mustart Typography
  h2 Sunt, pariatur, #[span.text--highlight praesentium?] Deleniti, quos impedit fugiat
  h3 Aliquid sint eius, #[a.text--em.text--highlight(href="") sit nisi] perspiciatis beatae
  h4 Voluptates #[a.text--normal(href="") saepe fugit] hic, magnam sed quos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eius #[span.text--normal consequatur #[span.text--main similique]] incidunt est debitis, tenetur laborum minus veritatis #[span.text--main quam] quidem repudiandae, iusto iste molestiae asperiores atque #[span.text--em vero quae] inventore.
  h5 Repellat aut qui cupiditate, #[a(href="") blanditiis earum] quidem!
  h6 Asperiores, #[span.text--highlight quidem] debitis tempore. Aperiam est, veritatis
  .separator.separator--main
  p Lorem ipsum dolor sit amet, #[span.text--em.text--highlight consectetur adipisicing] elit. Perferendis qui vitae nostrum commodi, eius, quo repellat, ullam quasi ipsa unde esse #[a.text--em(href="") tempora libero dicta aliquid]. Consectetur nemo nobis maiores ratione voluptate laboriosam distinctio #[span.text--em deleniti] impedit voluptatem deserunt, odio, doloremque delectus.
  p Lorem ipsum dolor sit amet, consectetur #[a.text--bold.text--em(href="") adipisicing elit]. Id atque illum culpa tenetur, #[span.text--bold.text--em veniam optio est], tempora beatae explicabo quia eius illo in, numquam sequi incidunt. Aliquam sed veritatis tempore tenetur tempora architecto odio quidem earum, nemo ullam debitis fugiat nobis, dolores eos consectetur distinctio laboriosam nostrum recusandae error aut.
  .separator
  h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis incidunt #[span.text--normal.text--em beatae repudiandae earum odit!] Ut quaerat, dignissimos quam recusandae repudiandae!
  p #[a.text--highlight(href="") Lorem ipsum dolor] sit amet, consectetur adipisicing elit. Hic, tempore!
  +mustart-end
