include templates/all

+mustart-start
  .content--700.content--auto
    section
      h1 Mustart Typography
      h2 Sunt, pariatur, #[span.text--highlight praesentium?] Deleniti, quos impedit fugiat
      h3 Aliquid sint eius, #[a.text--red.text--em.text--highlight(href="") sit nisi] perspiciatis beatae
      h4 Voluptates #[a.text--normal(href="") saepe fugit] hic, magnam sed quos. #[kbd Lorem] ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eius #[span.text--normal consequatur #[span.text--main similique]] incidunt est debitis, #[small tenetur laborum minus veritatis #[span.text--main quam] #[code quidem] repudiandae, iusto iste molestiae asperiores atque #[span.text--em vero quae] inventore.]
      .separator.separator--main
      h5 Repellat aut qui cupiditate, #[a(href="") blanditiis earum] quidem!
      h6 Asperiores, #[span.text--highlight quidem] debitis tempore. Aperiam est, veritatis
    section
      p.text--red Lorem ipsum dolor sit amet, #[span.text--em.text--highlight consectetur adipisicing] elit. Perferendis qui vitae nostrum commodi, eius, quo repellat, ullam quasi ipsa unde esse #[a.text--em.text--main(href="") tempora libero dicta aliquid]. #[kbd Consectetur] nemo nobis maiores ratione voluptate laboriosam distinctio #[span.text--em deleniti] impedit voluptatem deserunt, odio, doloremque delectus.
      p Lorem ipsum dolor sit amet, consectetur #[a.text--bold.text--em.text--green(href="") adipisicing elit]. Id atque illum culpa tenetur, #[span.text--bold.text--em veniam optio est], tempora beatae explicabo quia eius illo in, numquam sequi incidunt. Aliquam sed veritatis tempore tenetur tempora architecto odio quidem earum, nemo ullam debitis fugiat nobis, dolores eos consectetur distinctio laboriosam nostrum recusandae error aut.
      .separator.separator--medium
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim error obcaecati deleniti sed nulla voluptate reprehenderit, optio porro, eveniet hic mollitia officiis, explicabo, nobis ipsam laudantium aut rem magni. Est amet veniam repudiandae placeat!
    section
      h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis incidunt #[span.text--normal.text--em beatae repudiandae earum odit!] Ut quaerat, dignissimos quam recusandae repudiandae!
      p #[a.text--highlight.text--blue(href="") Lorem ipsum dolor] sit amet, consectetur adipisicing elit. Hic, tempore!
      ul
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea voluptatem ducimus assumenda, repellat quis enim quas optio cupiditate, quasi tenetur.
        li
          ol.inline
            li.text--soft Lorem ipsum dolor.
            li.text--light Lorem ipsum dolor sit amet.
            li Lorem ipsum dolor sit.
            li Ipsum dolor sit amet.
            li Consectetur adipisicing.
        li 
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo est consequatur laudantium porro culpa aut reiciendis maxime nostrum, inventore enim voluptates debitis labore, magni natus numquam, nam architecto, possimus ipsam.
          dl.side.side--200
            dt Lorem ipsum dolor.
            dd Lorem ipsum dolor sit.
            dt Sit amet, consectetur adipisicing elit. Nam, expedita.
            dd Ipsum dolor sit amet, consectetur.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit eaque soluta atque, nesciunt suscipit rem! Sed enim, adipisci eaque ipsa commodi? Tempore deserunt laudantium eligendi ipsam perspiciatis exercitationem repudiandae facilis.
      ol
        li Lorem ipsum dolor.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi explicabo doloribus voluptas ratione, nihil aspernatur similique #[span.text--orange.text--highlight repellat fuga voluptate iure] tenetur hic praesentium facere, cupiditate eos maiores laudantium eligendi delectus necessitatibus laborum! Eius!
        li Lorem ipsum dolor sit amet, consectetur.
        li
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste corporis #[code reprehenderit] quidem culpa non, esse, consequuntur ducimus obcaecati. Autem pariatur dolor laudantium provident maxime minus rerum hic eveniet animi reiciendis.
          ul
            li Lorem ipsum dolor.
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi explicabo doloribus voluptas ratione, nihil aspernatur similique #[span.text--orange.text--highlight repellat fuga voluptate iure] tenetur hic praesentium facere, cupiditate eos maiores laudantium eligendi delectus necessitatibus laborum! Eius!
            li Lorem ipsum dolor sit amet, consectetur.
            li Lorem ipsum dolor sit amet, consectetur adipisicing
    section
      h5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nam, error #[span.text--green.text--highlight expedita quasi natus veritatis doloribus] ipsam assumenda! Temporibus tenetur pariatur laboriosam porro #[span.text--normal quis voluptas fugiat suscipit] laborum commodi omnis! Aut aperiam accusamus architecto!
      dl
        dt Lorem ipsum dolor.
        dd Lorem ipsum dolor sit.
        dt Sit amet, consectetur adipisicing elit. Nam, expedita.
        dd Ipsum dolor sit amet, consectetur.
        dt Lorem ipsum dolor sit amet.
        dd Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit in nobis obcaecati, quisquam autem fugit tempora ex ut odit. Sint provident nulla nihil, optio explicabo neque, rem laboriosam molestias saepe!
      dl.dark.side.side--150
        dt Lorem ipsum dolor.
        dd Lorem ipsum dolor sit.
        dt Sit amet, consectetur adipisicing elit. Nam, expedita.
        dd Ipsum dolor sit amet, consectetur.
        dt Lorem ipsum dolor sit amet.
        dd 
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit in nobis obcaecati, quisquam autem fugit tempora ex ut odit. Sint provident nulla nihil, optio explicabo neque, rem laboriosam molestias saepe!
          dl
            dt Lorem ipsum dolor.
            dd Lorem ipsum dolor sit.
            dt Sit amet, consectetur adipisicing elit. Nam, expedita.
            dd Ipsum dolor sit amet, consectetur.
            dt Lorem ipsum dolor sit amet.
            dd Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit in nobis obcaecati, quisquam autem fugit tempora ex ut odit. Sint provident nulla nihil, optio explicabo neque, rem laboriosam molestias saepe!
      pre. 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit et inventore odit, 
        ea ducimus tenetur excepturi, sint rem. 
        Veritatis sapiente totam quibusdam quo eum natus sint a non recusandae at! 
        Corporis asperiores unde, nam eos, id quod non eius explicabo.
    section
      h6.text--del Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nesciunt, #[a.text--highlight a distinctio, qui quidem, minus] similique natus sit est ipsa impedit!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam cupiditate iusto cum distinctio nulla vel corrupti vero, voluptatibus error facere quas dignissimos, porro dolore cumque. Omnis, ducimus? Modi, dolores, dolorem.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste perferendis #[small voluptatum eos, velit eaque, natus odio ea neque itaque culpa harum ut debitis].
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad odio id magni suscipit dolores, atque delectus magnam repellendus nulla doloremque. Earum aut qui facere tenetur, magni accusantium nostrum, omnis quisquam quo, necessitatibus ducimus repellendus odit, dignissimos error! Aliquid quibusdam labore repellat sunt, odio sint debitis. Ratione pariatur veritatis ipsa quos quaerat blanditiis temporibus error consequatur cumque, neque, atque aperiam, quibusdam!
    section
      .text--center.text--soft Mustart Typography &mdash; 2019
  +mustart-end
