$padding: 20px
$line-height: 150%

$main-font: Helvetica, Arial, sans-serif
$main-font-weight: normal
$main-font-size: 16px

$head-font: $main-font
$head-font-weight: bold
$head-font-main: 200%
$head-font-divider: 15

$bold-font: $main-font
$bold-font-weight: bold

$italic-font: $main-font
$italic-font-style: italic

$bg-color: white
$main-color: #9cbf11
$anchor-color: darken($main-color, 5%)

$text-color: #666
$head-color: darken($text-color, 20%)
