$padding: 20px
$line-height: 150%
$radius: 4px

$main-font: Helvetica, Arial, sans-serif
$main-font-weight: normal
$main-font-size: 16px

$head-font: $main-font
$head-font-weight: bold
$head-font-main: 200%
$head-font-divider: 15

$bold-font: $main-font
$bold-font-weight: bold

$italic-font: $main-font
$italic-font-style: italic

$bg-color: white
$main-color: #9CBF11
$anchor-color: darken($main-color, 5%)

$text-color: #666
$head-color: darken($text-color, 20%)

$info-color: #3081F8
$success-color: #0FC28C
$warning-color: #F99F03
$error-color: #F1303B

$border-width: 1px
$border-color: darken($bg-color, 10%)
$border-color-light: darken($bg-color, 5%)
$border-color-dark: darken($bg-color, 20%)
$border-light: $border-width solid $border-color-light
$border-dark: $border-width solid $border-color-dark


// Override class list
// clean, dark, side, inline
