.text
  &--center
    text-align: center
  &--left
    text-align: left
  &--right
    text-align: right
  &--justify
    text-align: justify

  &--normal
    font:
      family: $main-font
      weight: $main-font-weight
  &--head
    font:
      family: $head-font
      weight: $head-font-weight
  &--bold, &--strong
    font:
      family: $bold-font
      weight: $bold-font-weight
  &--italic, &--em
    font:
      family: $italic-font
      style: $italic-font-style

  &--main
    color: $main-color
  &--info, &--blue
  &--success, &--green
  &--warning, &--yellow, &--orange
  &--error, &--red

  &--highlight
    background: $main-color
    color: $bg-color
    padding: $padding / 6 $padding / 2

a
  &.text
    &--highlight
      &:hover, &:active
        color: $bg-color
        text-decoration: none
      &:hover
        background: darken($main-color, 10%)
      &:active
        background: darken($main-color, 15%)
