mixin mustart-start
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width,initial-scale=1")
      title Mustart Typography
      meta(name="description" content="Mustart Typography")
      link(rel="stylesheet" href="styles/styles.min.css")
    body
      if block
        block
        
mixin mustart-end
  script(src="scripts/scripts.min.js")
  if block
    block
